<h1>Home#index</h1>
<% if user_signed_in?
       pretty_name = "#{current_user.email}"
       role = 'none'
 %>

        Welcome <strong><%= pretty_name %></strong> |

  <%= link_to "Log Out", destroy_user_session_path %>

<% else %>
  <%= link_to "Sign Up", new_user_registration_path %>
   or
  <%= link_to "Log In", new_user_session_path %>
<% end %>

<p>Find me in app/views/home/index.html.erb</p>
